@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800");
body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  display: block;
  background-color: #f1f1f1 !important;
}

.bshift {
  width: 70%;
 
}

.box1 {
  height: 120px;
}

.spanholder {
  background-color: rgb(230, 228, 226);
  height: 100px;
}

.percent {
  font-size: 32px;
  color: blue;
}
